{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "chat",
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME": "embedding",
    "AZURE_OPENAI_ENDPOINT": "",
    "KERNEL_MEMORY_SERVICE_ENDPOINT": "",
    "KERNEL_MEMORY_SERVICE_INDEX": "default",
    "STORAGE_CONNECTION_STRING": "<container connection string for upload>",
    "AZUREAD_TENANT_ID": ""
  }
}